events {
    worker_connections 1024;
}

http {
    upstream backend {
        server mimir:{{ mimir.port }} max_fails=1 fail_timeout=1s;
        server mimir2:{{ mimir.port }} max_fails=1 fail_timeout=1s;
        server mimir3:{{ mimir.port }} max_fails=1 fail_timeout=1s backup;
    }

    server {
        listen {{ nginx.port }};
        location / {
            proxy_pass http://backend;
        }
    }
}