<!DOCTYPE html>
<html>
  <head>
    <title>isu-isu-h</title>
  </head>
  <body>
    <h1>isu-isu-h</h1>
    <ul>
      <li><a href="https://{{ pprotein.host }}">pprotein: 統計情報</a></li>
      <li><a href="https://{{ adminer.host }}">Adminer: DB操作</a></li>
      <li><a href="https://{{ grafana.host }}">Grafana: サーバーメトリクス/ログ</a></li>
    </ul>
  </body>
</html>
